.header {
  --header-z-index: 1030;
  --header-spacing-y: var(--space-medium);
  --header-shadow: var(--shadows-small);
  --header-background-color: var(--colors-body-background);

  position: sticky;
  top: 0;
  z-index: var(--header-z-index);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-background-color);
  box-shadow: var(--header-shadow);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--header-spacing-y);
    padding-bottom: var(--header-spacing-y);
  }
}

.github {
  --github-color: var(--colors-gray);

  color: var(--github-color);
  font-size: 1.5rem;
  line-height: 0;
}

.logo {
  --logo-color: var(--colors-gray-darkest);

  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--logo-color);
  border-bottom: 2px dashed var(--logo-color);
}
