.timeline {
    position: relative;
    margin: 0 auto;
    padding:  0;

    &__item {
        position: relative;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-block: 1.5rem;
    }

    &__item::before {
        content: "";
        position: absolute;
        width: 2px;
        top: 0;
        bottom: 0;
        left: 160px;
        margin-inline-start: -1px;
        background-color: #bdbdbd;
    }
    
    &__label {
        width: 150px;
        padding: 0 20px;
        font-weight: normal;
        text-align: end;

        &, a {
            color: #4F4F4F;
        }
    }

    &__point {
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 100%;
        z-index: 2;
        border: 2px #bdbdbd solid;
    }

    &__point--active {
        background-color: #9B51E0;
        border-color: #9B51E0;
    }

    &__point--active::before, &__point--active::after {
        content: '';
        display: block;
        width: 2px;
        background-color: #9B51E0;
        position: absolute;
        left: 160px;
        margin-inline-start: -1px;
    }

    &__point--active::before{
        top: 0;
        bottom: 50%;
    }
    &__point--active::after{
        top: 50%;
        bottom: 0;
    }

    &__content {
        padding: 0 1rem;
        
        &, a {
            color: #4F4F4F;
        }
    }    
}
