.column {
    --column-spacing-x: var(--space-medium, 1.5rem);
    --column-spacing-y: var(--space-large, 3rem);

    position: relative;
    max-width: 80ch;
    padding: var(--column-spacing-y) var(--column-spacing-x);
    margin: 0 auto;

    & + & {
        padding-block-start: 0;
    }
}
