.path {
}

.resource {
  &__source {
    color: var(--colors-gray);
    font-size: var(--font-sizes-small);
    margin: 0;
    padding: 0;
  }

  &__type {
    color: var(--colors-secondary);
    font-size: var(--font-sizes-tiny);
    margin: 0;
    padding: 0;
  }
}
