.path {}

.resource {

    &__source {
        color: var(--colors-gray-lighter, #BDBDBD);
        font-size: var(--font-sizes-small, 0.875rem);
        margin: 0;
        padding: 0;
    }

    &__title {
        font-size: var(--font-sizes-medium, 1rem);
        margin: 0;
        padding: 0 0 0.5rem 0;
    }
    
    &__type {
        color: var(--colors-primary);
        font-size: var(--font-sizes-tiny, 0.75rem);
        margin: 0;
        padding: 0;
    }

}