.list {
  --list-spacing: var(--space-medium);
  --list-bullet-size: 14px;
  --list-bullet-stroke-width: 2px;
  --list-bullet-stroke-color: var(--colors-gray-lighter);

  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--list-spacing) 0;
    margin: 0;

    &:before {
      content: '';
      display: inline-block;
      margin-inline-end: 1em;
      width: var(--list-bullet-size);
      height: var(--list-bullet-size);
      background-color: white;
      border-radius: 100%;
      z-index: 2;
      border: var(--list-bullet-stroke-width) var(--list-bullet-stroke-color)
        solid;
    }
  }

  &__item + &__item {
    padding-block-start: 0;
  }
}
