.header {
    --header-z-index: 1030;
    --header-spacing-y: var(--space-medium, 1.5rem);
    --header-background-color: var(--colors-body-background, white);
    --header-logo-color: var(--colors-gray-darkest, black);

    position: sticky;
    top: 0;
    z-index: var(--header-z-index);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--header-spacing-y);
    padding-bottom: var(--header-spacing-y);
    background-color: var(--header-background-color);

    &__logo {
        padding: 0;
        margin: 0;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
        text-transform: uppercase;
        color: var(--header-logo-color);
        border-bottom: 2px dashed var(--header-logo-color);
    }
}