.column {
  --column-spacing-x: var(--space-medium);
  --column-spacing-y: var(--space-large);

  display: flex;
	flex-direction: column;
  gap: var(--column-spacing-x);
	padding: var(--column-spacing-y) var(--column-spacing-x);

  @media screen and (min-width: 120ch) {
    flex-direction: row;

    &__main {
      flex-grow: 1;
      position: relative;
      max-width: 80ch;
      margin: 0 auto;
    }

    &__after {
      width: 30%;
    }
  }

  & + & {
    padding-block-start: 0;
  }
}
